.drHeader {
  font-size: 2em;
  font-weight: 800;
  padding: 1em 0 0 0;
}

.email {
  padding: 0 0 1em 0;
}

table {
  border-collapse: collapse;
  padding: 0.5em 0 0 0;
}

thead {
  background-color: var(--notableBlue);
  color: var(--white);
}

th {
  text-align: left;
  padding: 0.5em;
}

tr:nth-child(even) {
  background: var(--veryLightGrey);
}

td {
  border-left: var(--veryLightGrey) 1px solid;
  border-right: var(--veryLightGrey) 1px solid;
  padding: 0.5em;
}
